@import 'src/styles';

:host {
  display: block;
  width: 300px;
}

.menu__top {
  position: sticky;
  height: calc(#{$header-height} - 1px);
  line-height: calc(#{$header-height} - 1px);
  border-bottom: 1px gray solid;

  button {
    position: absolute;
    left: 10px;
    top: 10px;
  }
}
