<div class="form__container">
  <form (submit)="$event.preventDefault(); runTest(+inputTestsNo.value, +arraySize.value, dataType.value)">
    <mat-form-field appearance="outline">
      <mat-label>Array elements number</mat-label>
      <input matInput #arraySize type="number" min="1" max="30000000" value="100" [disabled]="!isReady || isRunning" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Number of tests</mat-label>
      <input matInput #inputTestsNo type="number"  min="1" max="10" value="2" [disabled]="!isReady || isRunning" />
    </mat-form-field>
    <mat-form-field style="margin-top: 1.6em" appearance="outline">
      <mat-label>Data type</mat-label>
      <mat-select #dataType [disabled]="!isReady || isRunning" [value]="true">
        <mat-option [value]="true">Float</mat-option>
        <mat-option [value]="false">Integer</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit" [disabled]="!isReady || isRunning">Run benchmark</button>
  </form>
</div>

<div class="loading-container" *ngIf="isRunning">
  <mat-spinner [diameter]="32"></mat-spinner>
</div>

<div class="results-container" *ngIf="!isRunning && tablePreparedResults?.length">
  <table mat-table [dataSource]="tablePreparedResults" class="mat-elevation-z2">
    <ng-container matColumnDef="testNo">
      <th mat-header-cell *matHeaderCellDef>Test No.</th>
      <td mat-cell *matCellDef="let element">{{ element.testNo + 1 }}.</td>
    </ng-container>
    <ng-container matColumnDef="js">
      <th mat-header-cell *matHeaderCellDef>JavaScript</th>
      <td mat-cell [class]="getRowClass(element.js, allResults.combined)" *matCellDef="let element">{{ element.js }}ms</td>
    </ng-container>
    <ng-container matColumnDef="jsMath">
      <th mat-header-cell *matHeaderCellDef>JavaScript</th>
      <td mat-cell [class]="getRowClass(element.jsMath, allResults.combined)" *matCellDef="let element">{{ element.jsMath }}ms</td>
    </ng-container>
    <ng-container matColumnDef="jsQs">
      <th mat-header-cell *matHeaderCellDef>JavaScript</th>
      <td mat-cell [class]="getRowClass(element.jsQs, allResults.combined)" *matCellDef="let element">{{ element.jsQs }}ms</td>
    </ng-container>
    <ng-container matColumnDef="wasmQs">
      <th mat-header-cell *matHeaderCellDef>WebAssembly</th>
      <td mat-cell [class]="getRowClass(element.wasmQs, allResults.combined)" *matCellDef="let element">{{ element.wasmQs }}ms</td>
    </ng-container>
    <ng-container matColumnDef="wasmStd">
      <th mat-header-cell *matHeaderCellDef>WebAssembly</th>
      <td mat-cell [class]="getRowClass(element.wasmStd, allResults.combined)" *matCellDef="let element">{{ element.wasmStd }}ms</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: tableDisplayedColumns"></tr>
  </table>
</div>
