<div class="form__container">
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Array elements number</mat-label>
      <input
        matInput
        type="number"
        min="1"
        max="10000000"
        [disabled]="!isReadyForNextTest"
        [(ngModel)]="testData.custom.arrayLength"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Number of tests</mat-label>
      <input
        matInput
        type="number"
        min="1"
        max="10"
        [(ngModel)]="testData.repeatTimes"
        [disabled]="!isReadyForNextTest"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Data type</mat-label>
      <mat-select #dataType [disabled]="!isReadyForNextTest" [(ngModel)]="testData.custom.floatDataType">
        <mat-option [value]="true">Float</mat-option>
        <mat-option [value]="false">Integer</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit" [disabled]="!isReadyForNextTest" (click)="runTest()">
      Run benchmark
    </button>
  </div>
</div>

<app-results [isRunning]="isRunning" [chartBarsResults]="chartBarsResults"></app-results>
