<div class="form__container">
  <form (submit)="$event.preventDefault(); runTest(+inputFibParam.value, +inputTestsNo.value)">
    <mat-form-field appearance="outline">
      <mat-label>Fibonacci param</mat-label>
      <input matInput #inputFibParam type="number" value="30" [disabled]="!isReady || isRunning" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Number of tests</mat-label>
      <input matInput #inputTestsNo type="number" value="10" [disabled]="!isReady || isRunning" />
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit" [disabled]="!isReady || isRunning">Run benchmark</button>
  </form>
</div>

<div class="loading-container" *ngIf="isRunning">
  <mat-spinner [diameter]="32"></mat-spinner>
</div>

<div class="no-results-container" *ngIf="!isRunning && tablePreparedResults?.length === 0">No results</div>

<div class="results-container" *ngIf="!isRunning && tablePreparedResults?.length">
  <table mat-table [dataSource]="tablePreparedResults" class="mat-elevation-z2">
    <ng-container matColumnDef="testNo">
      <th mat-header-cell *matHeaderCellDef>Test No.</th>
      <td mat-cell *matCellDef="let element">{{ element.testNo + 1 }}.</td>
    </ng-container>
    <ng-container matColumnDef="jsRecursive">
      <th mat-header-cell *matHeaderCellDef>JavaScript</th>
      <td mat-cell [class]="getRowClass(element.jsRecursive, allResults.combined)" *matCellDef="let element">
        {{ element.jsRecursive }}ms
      </td>
    </ng-container>
    <ng-container matColumnDef="wasmRecursive">
      <th mat-header-cell *matHeaderCellDef>WebAssembly</th>
      <td mat-cell [class]="getRowClass(element.wasmRecursive, allResults.combined)" *matCellDef="let element">
        {{ element.wasmRecursive }}ms
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: tableDisplayedColumns"></tr>
  </table>

  <div class="charts__container">
    <div class="chart__container--card">
      <ngx-charts-number-card
        *ngFor="let data of fibonacciTests"
        [results]="chartBlockResults[data]"
        [cardColor]="'#000'"
      ></ngx-charts-number-card>
    </div>

    <div class="chart__container--bar">
      <ngx-charts-bar-vertical-2d
        [results]="chartBarsResults"
        [legend]="true"
        [yAxisLabel]="'time [ms]'"
        [showYAxisLabel]="true"
        [xAxis]="true"
        [yAxis]="true"
      ></ngx-charts-bar-vertical-2d>
    </div>
  </div>
</div>
