<div class="form__container">
  <div>
    <mat-form-field appearance="outline">
      <mat-label>N matrix</mat-label>
      <input
        matInput
        type="number"
        min="1"
        max="4000"
        [disabled]="!isReadyForNextTest"
        [(ngModel)]="testData.clientData"
      />
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit" [disabled]="!isReadyForNextTest" (click)="runTest()">
      Run benchmark
    </button>
  </div>
</div>

<app-results
  [isRunning]="isRunning"
  [chartBarsResults]="chartBarsResults"
  [chartBlockResults]="chartBlockResults"
  [tablePreparedResults]="tablePreparedResults"
  [tableDisplayedColumns]="tableDisplayedColumns"
  [tableDisplayedColumnsWithTestNo]="tableDisplayedColumnsWithTestNo"
  [allResults]="allResults"
></app-results>
