@import 'src/styles';

mat-drawer-container {
  width: 100%;
  height: 100%;
}

#view__container {
  position: relative;
  width: 100%;
  height: calc(100% - #{$header-height});
  padding: 1em;
}

router-outlet {
  & > * {
    background: red;
  }
}
