$header-height: 60px;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.form__container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  form > * {
    &:not(:first-child) {
      margin-left: 10px;
    }
  }
}

.loading-container {
  width: 100%;
  mat-spinner {
    margin: 0 auto;
  }
}

.no-results-container {
  text-align: center;
}

.results-container {
  width: 100%;

  table {
    width: 100%;

    .cell--slowest {
      color: red;
      font-weight: bold;
    }

    .cell--fastest {
      color: darkgreen;
      font-weight: bold;
    }
  }
}
